<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Vehicle</title>
  </head>
  <body>
    <h1>Vehicle</h1>  
    <div class="container">
        <div class="justify-content-center">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">vehicle_name</th>
                        <th scope="col">vehicle_color</th>
                        <th scope="col">vehicle_number</th>
                        <th scope="col">vehicle_type</th>
                        <th scope="col">vehicle_image</th>
                        <th scope="col">vehicle_description</th>
                        <th scope="col">rent_per_day</th>
                        <th scope="col">vehicle_location</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                        {% for show_vehicle_table in rentalapp %}
                        
                       <tr>
                        
                        <td>{{show_vehicle_table.vehicle_name}}</td>
                        <td>{{show_vehicle_table.vehicle_color}}</td>
                        <td>{{show_vehicle_table.vehicle_number}}</td>
                        <td>{{show_vehicle_table.vehicle_type}}</td>
                        <td>{{show_vehicle_table.vehicle_image}}</td>
                        <td>{{show_vehicle_table.vehicle_description}}</td>
                        <td>{{show_vehicle_table.rent_per_day}}</td>
                        <td>{{show_vehicle_table.vehicle_location}}</td>
                      </tr>
                      {% endfor %}
                     
                    </tbody>
                  </table>
        
            </div>
        
        </div>
        <a class="btn btn-primary m-2" href="{% url 'Create-Pdf' %}">Create PDF</a>
    </div>
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>